<h3>Assignment Details</h3>

<form id="assignment-detail" (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="text-danger"></div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input class="form-control" [ngModel]="assignment.name" name="name" #name=ngModel disabled />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Course</span>
        </div>
        <input class="form-control" value="{{ assignment.course}}" disabled />

    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Due Date</span>
        </div>
        <input class="form-control" value="{{ assignment.dueDate}}" disabled />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Notes</span>
        </div>
        <textarea class="form-control" disabled>{{ assignment.notes }}</textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Completed</span>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" [checked]="assignment.completed" disabled>
            </div>
        </div>
    </div>

    <div class="btn-group" role="group" aria-label="Options">
        <button type="button" class="btn btn-warning" [routerLink]="[assignment.assignmentId, '/edit']">Edit</button>
        <button type="button" class="btn btn-danger">Delete</button>
    </div>
</form>
