<h3>Assignment Details</h3>

<form id="assignment-detail" (ngSubmit)="onSubmit(f)" #f="ngForm">

    <div class="text-danger"></div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Name</span>
        </div>
        <input class="form-control" [ngModel]="assignment?.name" name="name" #name=ngModel [disabled]="!editMode" />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Course</span>
        </div>
        <input class="form-control" [ngModel]="assignment?.course" name="course" [disabled]="!editMode" />

    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Due Date</span>
        </div>
        <input class="form-control" type="date" [ngModel]="assignment?.dueDate" name="dueDate" [disabled]="!editMode" />
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Notes</span>
        </div>
        <textarea class="form-control" [ngModel]="assignment?.notes" name="notes" [disabled]="!editMode"></textarea>
    </div>
    <div class="input-group mb-3">
        <div class="input-group-prepend">
            <span class="input-group-text">Completed</span>
        </div>
        <div class="input-group-prepend">
            <div class="input-group-text">
                <input type="checkbox" [ngModel]="assignment?.completed" name="completed" [disabled]="!editMode">
            </div>
        </div>
    </div>

    <div class="btn-group" role="group" aria-label="Options">
      <button type="submit" class="btn btn-success" [hidden]="!editMode">Update Assignment</button>
      <button type="button" class="btn btn-warning" (click)=toggleEdit() >Edit</button>
      <button type="button" class="btn btn-danger" (click)="onDelete()" [hidden]="!editMode">Delete</button>
    </div>
</form>
