<h1 id="tableLabel">Assignment Fetcher</h1>

<p>This component demonstrates fetching data from the server.</p>

<p *ngIf="!assignments"><em>Loading...</em></p>

<table class='table table-striped' aria-labelledby="tableLabel" *ngIf="assignments">
  <thead>
    <tr>
      <th>Name</th>
      <th>Course</th>
      <th>Notes</th>
      <th>Due Date</th>
      <th>Completed</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let assignment of assignments">
      <td>{{ assignment.name }}</td>
      <td>{{ assignment.course }}</td>
      <td>{{ assignment.notes }}</td>
      <td>{{ assignment.dueDate | date }}</td>
      <td>{{ assignment.completed }}</td>
    </tr>
  </tbody>
</table>
