<div class="card border-primary" style="width: 18rem;" *ngIf="assignment" style="cursor: pointer;"
    [routerLink]="[assignment.assignmentId]" routerLinkActive="active">
    <div class="card-body">
        <p class="card-title mb-2 text-primary">{{ assignment.name }}</p>
        <p class="card-subtitle mb-2 text-muted">{{ assignment.course }}</p>
        <p class="card-subtitle mb-2 text-muted">Due: {{ assignment.dueDate | date:'yyyy-MM-dd' }}</p>
        <p class="card-text mb-2">{{ assignment.notes }}</p>
        <!-- <div class="row">
            <p>Completed:  </p>
            <input type="checkbox" [checked]="assignment.completed"/>
        </div> -->
        <label class="form-control">
            Completed:
            <input type="checkbox" name="completed" [ngModel]="assignment.completed" />
          </label>
    </div>
</div>