<header>
  <nav
    class="navbar navbar-expand-sm navbar-toggleable-sm text-light bg-primary border-bottom box-shadow">
    <div class="container">
      <img src="../../assets/images/planner.png" style="height: 35px;">
      <a class="navbar-brand" [routerLink]="['/assignments']" style="color: white;">
         AssignmentTracker</a>
      <button
        class="navbar-toggler"
        type="button"
        data-toggle="collapse"
        data-target=".navbar-collapse"
        aria-label="Toggle navigation"
        [attr.aria-expanded]="isExpanded"
        (click)="toggle()"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div
        class="navbar-collapse collapse d-sm-inline-flex justify-content-end"
        [ngClass]="{ show: isExpanded }"
      >
        <ul class="navbar-nav flex-grow">
          <li
            class="nav-item"
          >
            <a class="nav-link text-light" [routerLink]="['/']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link text-light" [routerLink]="['/assignments']"
            >Assignments</a
            >
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>
